<h1>Hello {{name}}</h1>
<div class="form-container">
    <form [formGroup]="paymentDetailForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-3">BSB</div>
            <div><input class="col-md-6" formControlName="BSB" placeholder="please input BSB"></div>
        </div>
        <div class="row">
            <div class="col-md-3">Account Number</div>
            <div><input class="col-md-6" formControlName="AccountNumber" placeholder="please input Account Number"></div>
        </div>
        <div class="row">
            <div class="col-md-3">Account Name</div>
            <div><input class="col-md-6" formControlName="AccountName" placeholder="please input Account Name"></div>
        </div>
        <div class="row">
            <div class="col-md-3">Reference</div>
            <div><input class="col-md-6" formControlName="Reference" placeholder="please input Reference"></div>
        </div>
        <div class="row">
            <div class="col-md-3">PaymentAmount</div>
            <div><input class="col-md-6" formControlName="PaymentAmount" placeholder="please input PaymentAmount"></div>
        </div>

        <div class="buttons">
            <button type="submit" [disabled]="paymentDetailForm.invalid">
                Submit Payment
            </button>
        </div>

        <pre>{{ paymentDetailForm.value | json }}</pre>

    </form>
</div>